$color-accent: #1a53af;
$color-background: #6da5ff;
$color-card: #bad4ff;

$fonts: 'Roboto', sans-serif;

$header-size: 2em;

$border: 2px solid $color-accent;
$border-radius: 20px;

$card-gutter: 10px;