@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "mixins";
@import "variables";

@function px-to-per($target, $ctx) {
	@return ($target / $ctx) * 100;
}

h1 {
	@include font-properties($header-size, center);
	border-bottom: $border;
}

body {
	background-color: $color-background;
}

.wrapper {
	@include center-block(block);
	width: 100%;
}

.flex-container {
	@include center-block(flex);
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 80%;
	$width: null;
	$fontsize: null;
	$size: null;
	@for $i from 1 through 2 {
		@if $i == 1 {
			$width: 50%;
			$fontsize: 1.5em;
			$size: "lg";
		} @else {
			$width: 30%;
			$font-size: 1em;
			$size: "sm";
		}
		.card-#{$size} {
			@include gallery-images($width, $fontsize);
		}
	}
}

.arrow-btn {

}

