@import url('https://fonts.googleapis.com/css?family=Roboto');

$color-accent: #1a53af;
$color-background: #6da5ff;
$color-card: #bad4ff;

$fonts: 'Roboto', sans-serif;

$header-size: 2em;

$border: 2px solid $color-accent;
$border-radius: 20px;

$card-gutter: 10px;

@function px-to-per($target, $ctx) {
	@return ($target / $ctx) * 100;
}

@mixin center-block {
	display: block;
	margin: 0 auto;
}

@mixin font-properties($size, $align) {
	font-family: $fonts;
	font-size: $size;
	text-align: $align;
	color: $color-accent;
}

h1 {
	@include font-properties($header-size, center);
	border-bottom: $border;
}

body {
	background-color: $color-background;
}

.wrapper {
	@include center-block;
	width: 100%;
}

.container {
	@include center-block;
	width: 80%;
}

.card {
	border: $border;
	border-radius: $border-radius;
	background-color: $color-card;
	width: 30%;
	max-width: 30%;
	margin: $card-gutter;
	p {
		@include font-properties(1em, center);
	}
	img {
		border-radius: $border-radius;
		width: 100%;
	}
}